*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0vh;
  left: 0px;
  background: linear-gradient(to bottom, #021305, #62bd5d);
  /* background: radial-gradient(#010a02, #03290a, #5caf58); */
  z-index: -1000;
}

/* =========== Loader ============ */
.loading{
  z-index: 10;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1.5rem solid #ffffff;
  border-top: 1.5rem solid #053f00;
  top: 50vh;
  left: 50vw;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

@keyframes loading {
  from{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


/* =========== Main Heading ============ */

.logo{
  width:200px;
  padding: 10px 0px;
  margin: auto;
  display: block;
}

.heading1{
  width: 200px;
  overflow: hidden;
  margin: 20px auto;
}

.heading1 h1{
  color: #c988bb;
  padding: 10px 0px;
  text-align: center;
}

.heading1 div{
  /* background-color: #031b06; */
  width: 200px;
  height: 3px;
  background: linear-gradient(to left, transparent ,#c7c7c7, transparent);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.heading1 div:first-child{
  animation-name: heading1Reverse;
}

.heading1 div:last-child{
  animation-name: heading1;
}

@keyframes heading1 {
  0%{
    transform: translateX(-180px);
  }
  50%{
    transform: translateX(180px);
  }
  100%{
    transform: translateX(-180px);
  }
}
@keyframes heading1Reverse {
  0%{
    transform: translateX(180px);
  }
  50%{
    transform: translateX(-180px);
  }
  100%{
    transform: translateX(180px);
  }
}

/* ========================= Characters ========================= */

.characters{
  width: 100vw;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characterOuter{
  overflow: hidden;
  margin: 10px;
}

.character{
  position: relative;
  transform: translateY(-15px);
  z-index: -1;
  width: 300px;
  height: 120px;
  background: linear-gradient(to right, #288E33, #052B09);
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  border-radius: 5px;
  gap: 5px;
  padding: 10px;
  color: #ffffff;
  box-shadow: inset 2px 2px 5px 0px #e9f8e9, inset -5px -5px 5px 0px #021B28;
}

.character .img{
  width: 100%;
}

.character .img img{
  width: 100%;
  height: 100px;
}

.character .info{
  padding-top: 5px;
  width: 100%;
}

.character .info h3{
  color: #ffffff;
  margin-bottom: 5px;
  border-bottom: 1px solid #ffff00;
  padding-bottom: 2px;
}

.character .info h5{
  color: #cecece;
}

.status{
  font-weight:bold;
  font-size: small;
  text-align: center;
  position: relative;
  box-shadow: 0px 3px 3px 0px #2b2b2b;
}

.dead{
  color: #ffffff;
  background-color: #a71313;
  transform: rotate(-45deg) translate(-100px, -58px);
}

.alive{
  background-color: #0fc527;
  color: #ffffff;
  transform: rotate(-45deg) translate(-100px, -80px);
}

.deceased{
  color: #ffffff;
  background-color: #111d5f;
  transform: rotate(-45deg) translate(-100px, -70px);
}


/* ======================== Pagination ======================== */
.pagination{
  display: flex;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap;
  width: max-content;
  max-width: 1000px;
}

.pagination li{
  list-style: none;
  cursor: pointer;
  font-weight: 800;
  padding: 5px 10px;
  display: grid;
  place-items: center;
  margin: 0px 5px;
  background-color: #ffffff;
  color: #052B09;
}

.currentPage{
  background-color: #052B09 !important;
  color: #ffffff !important;
}

/* ============================ Character's Page ============================ */
.backToHome{
  text-align: center;
  padding: 10px 0px;
  width: 80vw;
  margin: 10px auto;
  border-radius: 10px;
  display: block;
  text-decoration: none !important;
  cursor: pointer;
  font-size: larger;
}

.characterOuterDiv{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.characterDiv{
  display: flex;
}

.characterDiv .img img{
  height: 500px;
}

.characterDiv .details{
  padding: 10px;
}

.details table tr td{
  padding: 10px;
}


.quotes h1{
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 10px;
}

.quotes blockquote{
  font-style: italic;
  padding: 10px;
  margin: 15px 0px;
  background-color: #16161698;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-left: 5px solid #ffff00;
}
